body {
    background-color: silver;
    margin-top: 40px;;
}
#d1 {
    margin: auto;
    background: white;
    border-radius: 15px;
    min-width: 500px;
    max-width: 550px;
    min-height: 70px;
    color: red;
    text-shadow: 2px 2px green;
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
}